@import '../../../sass/index.scss';

// .container-intro-2D-staff {
//   &__wrapper {
//     position: relative;
//   }
// }
/*
This section comes into the picture when Raphael appears...
*/
.container-intro-paintings {
  &__wrapper {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    height: 0px;
  }
  &__button-wrapper {
    position: absolute;
    // background-color: #fff;
    // opacity: 0.4;
  }
}
