@import '../../../sass/index.scss';

.navigation-informator {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
  }
  &__text-line {
    /*
    style of <Header>
    */
    // color: setColor(light);
    // font-size: $fontSmall;
    // user-select: none;
    // font-weight: 400;
    // font-family: $sanSerif;
    // letter-spacing: 3px;
    /*
    style of <Cookies>
    */
    color: setColor(light);
    font-size: $fontSmall;
    font-weight: 100;
    letter-spacing: 3px;
    line-height: 1.5;
  }
  &__arrow-wrapper {
    position: relative;
    padding: 10px;
    width: 20px;
    height: 20px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }
  &__arrow-up {
    position: absolute;
    top: 0;
    right: 10px;
    width: 10px;
    height: 10px;
    border-top: 2px solid setColor(light);
    border-left: 2px solid setColor(light);
    transform: rotate(45deg);
    opacity: 0.6;
  }
  &__arrow-down {
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid setColor(light);
    border-right: 2px solid setColor(light);
    transform: rotate(45deg);
    opacity: 0.6;
  }
}
