.links-and-contacts {
  &__container {
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
  &__links-container {
    transform-origin: center left;
  }
  &__contacts-container {
    transform-origin: center left;
  }
}
