@import '../../../sass/index.scss';

.container-menu {
  // position: relative;
  position: fixed;
  // display: none;
  width: 100%;
  height: 100%;
  z-index: 400;
  &__mobile-top {
    position: relative;
  }

  &__mobile-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }
  &__no-mobile {
    position: relative;
    width: 100%;
  }
}
