.text-component-of-GPTP {
  &__container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    height: 100%;
    width: 20px;
  }
  &__text-wrapper {
    // height: 50%;
    flex: 1;
    &.progress {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 3px;
      // height: 50%;
    }
    &.percentage {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 3px;
      // height: 50%;
    }
  }
  &__text {
    // width: fit-content;
    text-align: end;

    color: setColor(light);
    font-size: $fontSmall;
    user-select: none;
    font-weight: 400;
    font-family: $sanSerif;
    letter-spacing: 3px;
    transform: rotateZ(90deg);
    // @media (min-width: 370px) {
    //   font-size: 1.3rem;
    // }
  }
}
