@import '../../../../../sass/index.scss';

.links-to-containers {
  &__wrapper {
    width: 100%;
    padding-left: 10px;
    z-index: 1;
  }
  &__links-list {
    display: flex;
    flex-direction: column;
  }
  &__link {
    height: 5rem;
    display: flex;
    align-items: center;
  }
}
