@import '../../../sass/index.scss';

.container-about {
  // position: fixed;
  // width: 100%;
  // height: 100%;
  /*
  remember that <ContainerAbout2DStaff> covers <ContainerAbout> (3D)
  */
  &__bottom {
    /*
    ???
    "min-width" without "margin-inline: auto" gives "center layout"
    "width" without "margin-inline: auto" gives "left-side layout"
    */
    // margin-inline: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__bottom-content {
    height: 100%;
    min-width: 200px;
    // width: 350px; // size if banner is used;
    width: 250px;

    /*
    change layout if screen width is larger then 600px
    */
    @media (min-width: 600px) {
      width: 500px;
    }
  }
}
