@import '../../../sass/index.scss';

.container-about {
  position: fixed;
  width: 100%;
  /*
  remember that <ContainerAbout2DStaff> covers <ContainerAbout> (3D)
  */
  &__body {
    /*
    Why "height: 1px" ?
    */
    position: relative;
    height: 1px;
    margin-inline: auto;
    max-width: 1000px;
    // padding: 0 20px 0 20px;
    // background-color: #fff;
  }

  &__hero-mobile {
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
  }
  &__hero-tablet {
    position: absolute;
    right: 0;
    width: 30%;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /*
    "padding-right" just to allign with "menu"
    */
    padding-right: 20px;
  }
  &__hero-label {
    font-family: $serif;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 4rem;
    color: setColor(light);
  }
  /*
  it playes role of <NavigationPanel>'s container
  */
  &__hero-navigation {
    padding-top: 100px;
    width: 80px;
    //height: JS;
    // background-color: rgb(29, 26, 26);
  }

  &__footer {
    /*
    ???
    "min-width" without "margin-inline: auto" gives "center layout"
    "width" without "margin-inline: auto" gives "left-side layout"
    */
    position: fixed;
    bottom: 0;
    margin-inline: auto;
    // max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__navigator-mobile {
    height: 100%;
    min-width: 200px;
    // width: 350px; // size if banner is used;
    width: 250px;
    /*
    change layout if screen width is larger then 600px
    */
    @media (min-width: 600px) {
      width: 500px;
    }
  }
}
