.language-selector {
  &__container {
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    @media (min-width: 900px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__main-text {
    display: inline;
    color: darken(setColor(light), 50%);
    font-size: $fontSmall;
    user-select: none;
    font-weight: 400;
    font-family: $sanSerif;
    letter-spacing: 1.5px;
    text-align: justify;
  }
  &__button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0px 15px 0px;
    @media (min-width: 900px) {
      justify-content: flex-end;
      padding: 15px 5px 15px 35px;
    }
  }
  &__button {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: setColor(venusSky);
    border-radius: 5px;
    padding: 5px 7px;
    margin: 0 5px;
  }
  &__button-text {
    color: darken(setColor(light), 10%);
    font-size: $fontSmall;
    user-select: none;
    font-weight: 400;
    font-family: $sanSerif;
    letter-spacing: 1.5px;
  }
}
