@import '../../../sass/index.scss';

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    font-size: 100px;
    line-height: 1;
    color: setColor(light);
  }
}
