@import '../../../../sass/index.scss';

.sectionA {
  &__container-tablet {
    position: absolute;
    right: 20px;
    width: 100%;
  }
  &__slide-tablet {
    position: absolute;
    width: 100%;
  }
  &__container-mobile {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__slide-mobile {
    position: absolute;
  }
}
