@import '../../../../sass/index.scss';

.basic-arrow {
  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
  }
  &__frame {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px setColor(light) solid;
    border-radius: 50%;
    opacity: 0.2;
  }
  &__arrow-up {
    position: absolute;
    top: 45%;
    width: 20%;
    height: 20%;
    border-top: 2px solid setColor(light);
    border-left: 2px solid setColor(light);
    transform: rotate(45deg);
    opacity: 1;
  }
  &__arrow-down {
    position: absolute;
    bottom: 45%;
    width: 20%;
    height: 20%;
    border-bottom: 2px solid setColor(light);
    border-right: 2px solid setColor(light);
    transform: rotate(45deg);
    opacity: 1;
  }
}
