@import '../../../../sass/index.scss';

.container-menu-top-content {
  margin-inline: auto;
  max-width: 500px;
  padding: 7vh 20px 15px 20px;
  height: 100%;
  display: flex;
  // justify-content: space-between; //??????????
  align-items: center;
}
