@import '../../../sass/index.scss';

.clock {
  width: 100px;
  border-radius: 5px;

  &__city {
    color: darken(setColor(light), 70%);
    font-size: $fontSmall;
    user-select: none;
    font-weight: 400;
    font-family: $sanSerif;
    letter-spacing: 3px;
    white-space: nowrap;
  }
  &__digit {
    color: darken(setColor(light), 70%);
    font-size: $fontSmall;
    user-select: none;
    font-weight: 400;
    font-family: $sanSerif;
    letter-spacing: 1px;
  }
}
