@import '../../../sass/index.scss';

.multipurposeOverlay {
  position: fixed;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 500;
  // background-color: setColor(dark);
  background-color: setColor(myGrey);
  //   pointer-events: none;
}
