@import '../../../../sass/index.scss';

.slide {
  &__header {
    /*
    style taken from "slide__label" / Slide0
    */
    font-family: $serif;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 4rem;
    color: setColor(light);
    text-align: right;
    /*
    to avoid manipulations in JS with conditional classes & useWindowSize hook; 
    */
    @media (min-width: 850px) {
      display: flex;
      flex-direction: column;
    }
    @media (min-width: 850px) {
      font-size: 5.5rem;
    }
    @media (min-width: 1000px) {
      font-size: 6rem;
    }
  }
  &__body {
    // position: absolute;
    // width: 80%;
  }
  &__paragraph {
    padding-bottom: 7vh;
    font-family: $sanSerif;
    font-weight: 200;
    letter-spacing: 2px;
    font-size: 1rem;
    color: setColor(light);
    text-align: justify;
    /*
    to avoid manipulations in JS with conditional classes & useWindowSize hook; 
    */

    @media (min-width: 850px) {
      font-size: 1.5rem;
    }
    @media (min-width: 1000px) {
      font-size: 1.5rem;
    }
  }
}
