@import '../../../../../sass/index.scss';

.contact-overlay {
  &__wrapper {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    background-color: transparent;
  }
  &__content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    padding-top: 12vh;
  }
  &__contact {
    font-size: $fontMedium;
    font-weight: 500;
    color: setColor(dark);
    letter-spacing: 5px;
    line-height: 1.5;
  }
  &__contact-block {
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }
  &__button-bar {
    height: 100%;
    width: 2px;
    background-color: setColor(dark);
    &.left {
      transform: rotate(45deg);
    }
    &.right {
      transform: rotate(-45deg);
    }
  }
  &__close-button-separator {
    height: 2rem;
  }

  &__marquee-container {
    position: absolute;
    top: 2vh;
  }
}
