.graphic-component-of-GPTP {
  &__holder {
    margin-left: 20px; // why margin instead of padding-left: 20px ???
    height: 90%;
    width: 1px;
    overflow: hidden;
  }
  &__line {
    height: 100%;
    width: 100%;
    background-color: setColor(light);
  }
}
