@import '../../../../../sass/index.scss';

.slide {
  &__container {
    // opacity: 0.3;
  }
  &__label {
    font-family: $serif;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 4rem;
    color: setColor(light);
    text-align: right;
    @media (min-width: 850px) {
      font-size: 5rem;
    }
    @media (min-width: 1000px) {
      font-size: 6rem;
    }
  }
}
