@import '../../../../sass/index.scss';

/*
hierarch:  
"container" => "partA" & "partB"
"partA" => "header-container"
"partB" => "body-container"
*/
.sectionB {
  /*
  mobile style;
  */
  &__container-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  &__partA-slide-wrapper-mobile {
    /*
    style partially taken from "container-about__hero-mobile"
    */
    padding-top: 100px;
  }
  &__partB-container-mobile {
    // width: 100%;
    // height: 100%;
  }
  &__partB-slide-wrapper-mobile {
    width: 100%;
    height: 100%;
    padding: 5vh 20px 0 20px;
    @media (min-height: 600px) {
      padding: 5vh 40px 0 40px;
    }
  }
  /*
  tablet style
  */
  &__container-tablet {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
  }
  &__partA-slide-wrapper-tablet {
    /*
    style taken from "container-about__hero-tablet"
    */
    position: relative;
    height: 100vh;
    width: 300px;
    padding-top: 33vh;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    @media (max-height: 850px) {
      padding-top: 22vh;
    }
  }

  &__partB-slide-wrapper-tablet {
    width: 60%;
    height: 100%;
    display: flex;
    padding-top: 30vh;
    @media (max-height: 850px) {
      padding-top: 25vh;
    }
  }
}
