@import '../../../../../sass/index.scss';

.contact-button {
  &__wrapper {
    position: relative;
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*
  property below solve problem of sparkling button 
  */
    -webkit-tap-highlight-color: transparent;
  }
  &__bar {
    position: absolute;
    right: 0;
    width: 1px;
    height: 70%;
    background-color: setColor(dark);
  }
  &__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__label {
    font-size: 1rem;
    transform: rotate(90deg);
    color: setColor(dark);
  }
}
